<ion-content  [fullscreen]="true">
  
  <div class="header">
    <h1 class="title" >Bienvenido</h1>
    <img src="../../../../assets/icon/Icono.png" height="100px" width="100px" alt="">
  </div>

  <form>
    <div>
      <ion-item >
        <ion-input class="input" placeholder="Correo" > </ion-input>
        <ion-icon name="person-outline" > </ion-icon>        
      </ion-item>
      <br>      
      <ion-item >
        <ion-input class="input" placeholder="Contraseña" > </ion-input>
        <ion-icon name="lock-closed-outline" > </ion-icon>
        </ion-item>
         <br>
      <div class="forgot-Password" >
        <a routerLink="/reset-password" ref="">¿Olvidate tu contraseña?</a>
      </div>
      <div class="signup-link" >
        <p>¿Eres nuevo? <a routerLink="/register" >Registrate</a> </p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" >
      <ion-fab-button routerLink="/home" >
        <ion-icon name="chevron-forward" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </form>
</ion-content>
